@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: "poppins", "san-serif";
  color: #8d8d8d;
}

button {
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  /* text-align: center; */
}

h1 {
  padding-left: 20px;
  color: #000;
  font-size: 16px;
}

h2,
h3 {
  color: #000;
  font-size: 16px;
}

h4 {
    color: 
    #333333;
    font-size: 14px;
}
a {
  text-decoration: none;
}

time {
  padding: 0 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;

}

input {
  padding: 10px;
  border: none;
}
/* Main container element class */
.main-grid {
  display: grid;
  grid-template-columns: 90px auto;
}

.sidePanel {
  height: 100vh;
  border-right: 1px solid #d8d8d8;
}

.messager-logo {
  padding: 20px 20px;
}

.sidePanel-btnIcon {
  padding: 150px 20px;
}

.sidePanel-pad {
  padding: 25px 0;
}

.border-none {
  border: none;
}

.border-width {
  width: 50px;
  height: 50px;
}
/* Messager app header section */
.messagePanel-header {
  padding: 20px 26px;
  border-bottom: 1px solid #d8d8d8;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-box {
  display: flex;
  align-items: center;
}

.padding-icon {
  padding: 0 15px;
}
.padding-top {
  padding-top: 4px;
}

.recent-profile {
  display: flex;
  padding-right: 15px;
  border-right: 1px solid #d8d8d8;
}

.recent-profile img {
  padding-right: 10px;
}

.recent-count {
  position: absolute;
}

.count {
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0.43);
}
.position-relative {
  position: relative;
}

/* Message content */
.msgContent-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

/* forum setting wrapper */

.forum-wrap {
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d8d8d8;
}

.forum {
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d8d8;
}

.forum-list {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
}

.background {
  background-color: rgba(100, 115, 118, 0.05);
}

.pad-left {
  padding-left: 15px;
}
/* message wrapper */

.message-wrapper {
  height: 100vh;
  border-right: 1px solid #d8d8d8;
}

.chat-box {
  padding: 15px;
}

.user-chat-right {
  margin-bottom: 20px;
  padding-left: 35px;
  display: flex;
  justify-content: right;
}

.received-chat-box {
  margin-bottom: 20px;
  padding-right: 35px;
  display: flex;
}
.pad-right {
  padding-right: 10px;
}
.justify-right {
  display: flex;
  justify-content: right;
  align-items: center;
}
.user-chat {
  margin-top: 5px;
  padding: 5px 15px;
  display: inline-flex;
  background-color: #6a57ca;
  border-radius: 15px 0 15px 15px;
}

.receiver-chat {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px 15px;
  background-color: #969599;
  border-radius: 0px 15px 15px 15px;
}

.user-chat p {
  color: #fff;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
}

.receiver-chat p {
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.dot {
    width: 7.06px;
    height: 7.06px;
    background-color: #6a57ca;
}
.absolute-circle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.green {
  background: #02c802;
}

.orange {
  background-color: orange;
}

.received-image {
    padding-right: 30px;
    
}
/* Message Texting Area */

.message-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border-top: 1px solid #d8d8d8;
}

.msgSend-box {
  width: 46px;
  height: 46px;
  background-color: 
  rgba(106, 87, 202, 1);
  border: none;
}
/* profile wrapper */

.profile-wrap {
  padding: 15px;
}

.designation {
  text-align: center;
  padding-top: 30px;
}

.section-splitter {
  padding-top: 25px;
}